@font-face {
    font-family: "MinionPro-Bold";
    src: url("../typos/MinionPro-Bold.otf");
}

@font-face {
    font-family: "MinionPro-It";
    src: url("../typos/MinionPro-It.otf");
}

@font-face {
    font-family: "MinionPro-Regular";
    src: url("../typos/MinionPro-Regular.otf");
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    font-family: "MinionPro-Regular", Times, "Times New Roman", serif;
}

.intro {
    height: 100%;
    overflow: hidden;
}

.intro h1 {
    position: relative;
    top: 18%;
    color: #fd7e14;
    font-size: 6rem;
    font-family: "MinionPro-Bold", Times, "Times New Roman", serif;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.menu {
    height: 100%;
    overflow: hidden;
    margin-top: 2%;
}

.menu .button_up {
    position: relative;
    top: 1%;
    left: 93%;
    width: 0;
    height: 0;
    z-index: 10;
}

.menu .button_up a {
    font-family: "MinionPro-Bold", Times, "Times New Roman", serif;
    color: white;
    display: inline-block;
    white-space: nowrap;
    background-image: url('../images/chevron-top-8x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 20px;
}

.menu .button_up a:hover {
    color: #fd7e14;
}

.menu a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    transition: all 500ms;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.menu a:hover {
    text-decoration: none;
    color: #fd7e14;
    transition: all 1s;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.menu h3 {
    position: relative;
    top: 80%;
    font-size: 3rem;
}

#apprin {
    background-image: url("../images/intro.jpg");
    background-size: cover;
    min-height: 512px;
}

#photo {
    background-image: url("../images/photo.jpg");
    background-size: contain;
    min-height: 512px;
    background-repeat: no-repeat;
    background-position: right top;
    border: #000 solid 10px
}

#regards {
    background-image: url("../images/regards.jpg");
    background-size: contain;
    min-height: 512px;
    background-repeat: no-repeat;
    background-position: left top;
    border: #000 solid 10px
}

#portrait {
    background-image: url("../images/portrait.gif");
    background-size: contain;
    min-height: 512px;
    background-repeat: no-repeat;
    background-position: right top;
    border: #000 solid 10px
}

#conservation {
    background-image: url("../images/conservation.jpg");
    background-size: contain;
    min-height: 512px;
    background-repeat: no-repeat;
    background-position: left top;
    border: #000 solid 10px
}
